.side-bar {
    margin-top: 30px;
    background: #2C2F33;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    border-radius: 24.8921px;
    height: 500px;
}

.side-bar-item {
    padding: 15px;
    background: #2C2F33;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    border-radius: 12.446px;
    transition: 0.5s;
}

.side-bar-item:hover {
    box-shadow: inset -6.22302px -6.22302px 6.22302px #3B4451, inset 3.73381px 3.73381px 6.22302px #000000;
}